.host-nav{
    margin-top: 100px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.host-nav a:hover {
    background-color: #FFEAD0;
    color: #4D4D4D;
}